[submodule "lib/CoreGame"]
	path = lib/CoreGame
	url = https://www.github.com/AmazingCow-Game-Core/CoreGame
[submodule "lib/CoreRandom"]
	path = lib/CoreRandom
	url = https://www.github.com/AmazingCow-Game-Core/CoreRandom
